### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Let's look at the how the elements are viewed in the dataframe.
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [5]:
# Let's look at the data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
# Calculate the total number of schools. Let's check the uniques of the schools
school_counts = school_data_complete['school_name']
school_counts.unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [7]:
# Calculate the total number of schools by using nunique function.
school_counts = school_data_complete['school_name']
total_number_of_district_schools = school_counts.nunique()
total_number_of_district_schools

15

In [8]:
# Calculate the total number of students.
total_number_of_district_students = len(school_data_complete['student_name'])
total_number_of_district_students

39170

In [9]:
#Let's look at the school_data data frame to find the total budget.
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [10]:
# Calculate the total budget
total_budget = sum(school_data['budget'])

total_budget

24649428

In [11]:
# Calculate the average math score
ave_math_scores = school_data_complete['math_score']
district_ave_math_scores = sum(ave_math_scores) / len(ave_math_scores)
district_ave_math_scores

78.98537145774827

In [12]:
# Calculate the average reading score
ave_reading_scores = school_data_complete['reading_score']
district_ave_reading_scores = sum(ave_reading_scores) / len(ave_reading_scores)
district_ave_reading_scores

81.87784018381414

In [13]:
# Calculate the percentage of students with a passing math score (70 or greater) part 1
math_scores = school_data_complete[school_data_complete['math_score'] >= 70].count()['student_name']
math_scores

29370

In [14]:
# Calculate the percentage of students with a passing math score (70 or greater) part 3
percentage_of_passing_math_scores = ((math_scores / total_number_of_district_students) * 100)
percentage_of_passing_math_scores

74.9808526933878

In [15]:
# Calculate the percentage of students with a passing reading score (70 or greater) part 1
reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70].count()['student_name']
reading_scores

33610

In [16]:
# Calculate the percentage of students with a passing reading score (70 or greater) part 4
percentage_of_passing_reading_scores = ((reading_scores / total_number_of_district_students) * 100)
percentage_of_passing_reading_scores

85.80546336482001

In [17]:
# Calculate the percentage of students who passed math and reading (% Overall Passing) part 1
math_and_reading_scores = school_data_complete[(school_data_complete['reading_score'] >= 70) 
                        & (school_data_complete['math_score'] >= 70)].count()['student_name']
math_and_reading_scores

25528

In [18]:
# Calculate the percentage of students who passed math and reading (% Overall Passing) part 3
percentage_of_passing_reading_and_math_scores = ((math_and_reading_scores / total_number_of_district_students) * 100)
percentage_of_passing_reading_and_math_scores

65.17232575950983

In [19]:
# Create a dataframe to hold the above results

# Calculate the percentage of students who passed math and reading (% Overall Passing)
DS = {'Number of Schools': [total_number_of_district_schools],
                    'Total Budget': [total_budget],
                    'Average Math Score': [district_ave_math_scores],
                    'Average Reading Score': [district_ave_reading_scores],
                    'Percentage of Students Passing Math': [percentage_of_passing_math_scores],
                    'Percentage of Students Passing Reading': [percentage_of_passing_reading_scores],
                    'Percentage of Students Passing Math and Reading': [percentage_of_passing_reading_and_math_scores]
                   }
District_Summary = pd.DataFrame(data=DS)

# Now let's format our results
# DS['Total Budget'] = DS['Total Budget'].applymap('${:,.2f}'.format)
District_Summary

,Number of Schools,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Students Passing Math and Reading
0,15,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
# First we group by school.
school_by_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [21]:
# Now we index the school types to figure out if the schools are district or charter.
type_of_schools = school_data.set_index('school_name')['type']

In [22]:
# We find the total number of students by school.
students_per_school = school_by_name['Student ID'].count()

In [23]:
# Create an index for the school budget.
school_budget = school_data.set_index('school_name')['budget']

In [24]:
# Create an index for budget per student.
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

In [25]:
# Calculate the average math and reading scores by school.
avg_math_scores = school_by_name['math_score'].mean()
avg_reading_scores = school_by_name['reading_score'].mean()

In [26]:
# Calculate the percentage of passing scores.
passing_math_scores = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school
passing_reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school
overall_passing_scores = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_per_school

In [27]:
# Create a data frame for school summary.

school_summary = pd.DataFrame({
    "School Type": type_of_schools,
    "Total Students": students_per_school,
    "Per Student Budget": school_budget,
    "Total School Budget": student_budget,
    "Average Math Score": avg_math_scores,
    "Average Reading Score": avg_reading_scores,
    '% Passing Math': passing_math_scores,
    '% Passing Reading': passing_reading_scores,
    "Overall Passing Rate": overall_passing_scores
})





school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

#formatting
school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [28]:
# We must sort values by the overall passing rate and then only print top 5 
top_five_performing_schools = school_summary.sort_values("Overall Passing Rate", ascending = False)
top_five_performing_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [29]:
# We must sort values by overall passing rate by taking the tail of top_five_performing.
bottom_five_performing_schools = top_five_performing_schools.tail()
bottom_five_performing_schools = bottom_five_performing_schools.sort_values('Overall Passing Rate')
bottom_five_performing_schools.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [30]:
# Using the student data cvs, we will creates grade level average math scores for each school.
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

# Now we can format.
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [31]:
# Using the student data cvs, we will creates grade level average reading scores for each school.
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()


reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

# Now we can format.
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [32]:
# Create a new column containing the 4 spending bins.
# Use that created column as your groupby

bins = [0, 584.999, 629.999, 644.999, 999999]
group_name = ['< $585', "$585 - 630", "$630 - 645", "$645 - 680"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

# Let's group by spending.
by_spending = school_data_complete.groupby('spending_bins')

# Now we take the averages.
avg_math_scores = by_spending['math_score'].mean()
avg_reading_scores = by_spending['reading_score'].mean()
passing_math_scores = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
passing_reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall_passing_scores = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# Create the dataframe.            
scores_by_spending = pd.DataFrame({
    "Average Math Score": avg_math_scores,
    "Average Reading Score": avg_reading_scores,
    '% Passing Math': passing_math_scores,
    '% Passing Reading': passing_reading_scores,
    "Overall Passing Rate": overall_passing_scores
            
})
            
# Let's reorder our columns.
scores_by_spending = scores_by_spending[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spending.index.name = "Per Student Budget"
scores_by_spending = scores_by_spending.reindex(group_name)

# We can now format our dataframe
scores_by_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [33]:
# Create more bins.
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

# Now we follow the same steps as above group by spending
by_size = school_data_complete.groupby('size_bins')

# calculations (averages)
avg_math_scores = by_size['math_score'].mean()
avg_reading_scores = by_size['math_score'].mean()
passing_math_scores = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
passing_reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall_passing_scores = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
# Create the new dateframe.           
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math_scores,
    "Average Reading Score": avg_reading_scores,
    '% Passing Math': passing_math_scores,
    '% Passing Reading': passing_reading_scores,
    "Overall Passing Rate": overall_passing_scores
            
})
            
# Now we can reorder the columns.
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

# Now we can format our data.
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [34]:
# We must group by type of school (District or Charter)
by_type = school_data_complete.groupby("type")

# Next we can calculate the averages.
avg_math_scores = by_type['math_score'].mean()
avg_reading_scores = by_type['math_score'].mean()
passing_math_scores = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
passing_reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall_passing_scores = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# Create the dataframe.          
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math_scores,
    "Average Reading Score": avg_reading_scores,
    '% Passing Math': passing_math_scores,
    '% Passing Reading': passing_reading_scores,
    "Overall Passing Rate": overall_passing_scores})
    
# Reorder the columns.
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


# Lastly, let's format our dataframe.
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})