### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [79]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [80]:
# Let's look at the how the elements are viewed in the dataframe.
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [81]:
# Let's look at the data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [82]:
#Filtering the data
# school_data_complete.loc[ 2,"student_name" ]
#school_data_complete.loc[2,"student_name":"math_score"]
# school_data_complete.loc[:,["student_name","type","size"]]

# Conditions
# school_data_complete.loc[school_data_complete["reading_score"]>90,: ]

# school_data_complete.loc[(school_data_complete["reading_score"]>90) & (school_data_complete["math_score"]>90), :]

In [83]:
#Grouping BY
# school_data_complete.groupby(["gender","school_name"])["reading_score","math_score"].agg([np.mean,max])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [84]:
# Calculate the total number of schools. Let's check the uniques of the schools
school_counts = school_data_complete['school_name']
school_counts.unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [85]:
# Calculate the total number of schools by using nunique function.
school_counts = school_data_complete['school_name']
total_number_of_district_schools = school_counts.nunique()
total_number_of_district_schools

15

In [86]:
# Calculate the total number of students.
total_number_of_district_students = len(school_data_complete['student_name'])
total_number_of_district_students

39170

In [87]:
#Let's look at the school_data data frame to find the total budget.
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [88]:
# Calculate the total budget
total_budget = sum(school_data['budget'])
total_budget

24649428

In [89]:
# Calculate the average math score
ave_math_scores = school_data_complete['math_score']
district_ave_math_scores = sum(ave_math_scores) / len(ave_math_scores)
district_ave_math_scores

78.98537145774827

In [90]:
# Calculate the average reading score
ave_reading_scores = school_data_complete['reading_score']
district_ave_reading_scores = sum(ave_reading_scores) / len(ave_reading_scores)
district_ave_reading_scores

81.87784018381414

In [91]:
# Calculate the percentage of students with a passing math score (70 or greater) part 1
math_scores = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]
math_scores.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [92]:
# Calculate the percentage of students with a passing math score (70 or greater) part 2
number_students_pass_math = len(math_scores['student_name'])
number_students_pass_math

29370

In [93]:
# Calculate the percentage of students with a passing math score (70 or greater) part 3
percentage_of_passing_math_scores = ((number_students_pass_math / total_number_of_district_students) * 100)
percentage_of_passing_math_scores

74.9808526933878

In [131]:
# Calculate the percentage of students with a passing reading score (70 or greater) part 1
reading_scores = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]

In [95]:
# Calculate the percentage of students with a passing reading score (70 or greater) part 2
number_students_pass_reading = len(reading_scores['student_name'])
number_students_pass_reading

33610

In [96]:
# Calculate the percentage of students with a passing reading score (70 or greater) part 4
percentage_of_passing_reading_scores = ((number_students_pass_reading / total_number_of_district_students) * 100)
percentage_of_passing_reading_scores

85.80546336482001

In [97]:
# Calculate the percentage of students who passed math and reading (% Overall Passing) part 1
math_and_reading_scores = school_data_complete.loc[(school_data_complete['reading_score'] >= 70) 
                        & (school_data_complete['math_score'] >= 70)]
math_and_reading_scores.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [98]:
# Calculate the percentage of students who passed math and reading (% Overall Passing) part 2
number_students_pass_reading_and_math = len(math_and_reading_scores['student_name'])
number_students_pass_reading_and_math

25528

In [99]:
# Calculate the percentage of students who passed math and reading (% Overall Passing) part 3
percentage_of_passing_reading_and_math_scores = ((number_students_pass_reading_and_math / total_number_of_district_students) * 100)
percentage_of_passing_reading_and_math_scores

65.17232575950983

In [142]:
# Create a dataframe to hold the above results

# Calculate the percentage of students who passed math and reading (% Overall Passing)
DS = {'Number of Schools': [total_number_of_district_schools],
                    'Total Budget': [total_budget],
                    'Average Math Score': [district_ave_math_scores],
                    'Average Reading Score': [district_ave_reading_scores],
                    'Percentage of Students Passing Math': [percentage_of_passing_math_scores],
                    'Percentage of Students Passing Reading': [percentage_of_passing_reading_scores],
                    'Percentage of Students Passing Math and Reading': [percentage_of_passing_reading_and_math_scores]
                   }
District_Summary = pd.DataFrame(data=DS)

# Now let's format our results
#DS['Total Budget'] = DS['Total Budget'].applymap('${:,.2f}'.format)

District_Summary
# Optional: give the displayed data cleaner formatting

,Number of Schools,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Students Passing Math and Reading
0,15,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [101]:
# Let's look at the orginal data to get a baseline of where to start to know how to move forward.
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [102]:
# Let's look at the orginal data to get a baseline of where to start to know how to move forward.
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [103]:
# We don't need the ID numbers. Let's drop them
school_data_complete = school_data_complete.drop(['Student ID', 'School ID'], axis=1)
school_data_complete.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635

In [140]:
# we will use the 'school_data_complete dateframe to set up indexies in order to create the School Summary dataframe.
school_data_complete_index = school_data_complete.set_index('school_name')
school_type = school_data_complete_index['type']
students_by_school = school_data_complete_index['size']
budget_by_school = school_data_complete_index['budget']
school_data_complete_index.head()

,student_name,gender,grade,reading_score,math_score,type,size,budget
school_name,,,,,,,,
Huang High School,Paul Bradley,M,9th,66,79,District,2917,1910635
Huang High School,Victor Smith,M,12th,94,61,District,2917,1910635
Huang High School,Kevin Rodriguez,M,12th,90,60,District,2917,1910635
Huang High School,Dr. Richard Scott,M,12th,67,58,District,2917,1910635
Huang High School,Bonnie Ray,F,9th,97,84,District,2917,1910635

In [120]:
# We need to divide the school budget by student to find the budget per student..
budget_per_student = budget_by_school / students_by_school

In [122]:
# Now we set an index and groupyby school to get the average scores by school.
index = school_data_complete.set_index('school_name')
group_by_school = index.groupby(['school_name'])

In [124]:
# Find the Math Average
average_math_scores_by_school = group_by_school['math_score'].mean()

In [112]:
# Find the Reading Average
average_reading_scores_by_school = group_by_school['reading_score'].mean()

In [126]:
# Now we can calculate the percentage of students who passed math.
total_students = group_by_school['student_name'].count()
grouped_by_math = math_scores.groupby('school_name')
schools_passing_math = (grouped_by_math['student_name'].count() / total_students) * 100

In [115]:
# Now we can calculate the percentage of students who passed reading.
grouped_by_reading = reading_scores.groupby('school_name')
schools_passing_reading = (grouped_by_reading['student_name'].count() / total_students) * 100

In [116]:
# Now we can calculate the percentage of students who passed math and reading.
# Now we can calculate the percentage of students who passed math.
grouped_by_overall_passing_math_and_reading = math_and_reading_scores.groupby('school_name')
overall_passing_math_and_reading = (grouped_by_overall_passing_math_and_reading['student_name'].count() / total_students) * 100

In [135]:
# Now we can create the dataframe to get the School Summary
school_summary_index = pd.DataFrame({'School Type': school_type,
                              'Total Students': students_by_school,
                              'Total School Budget': budget_by_school,
                              'Per Student Budget': budget_per_student,
                              'Average Math Score': average_math_scores_by_school,
                              'Average Reading Score': average_reading_scores_by_school,
                              '% Passing Math': schools_passing_math,
                              '% Passing Reading': schools_passing_reading,
                              'Overall Passing Rate': overall_passing_math_and_reading})

school_summary = school_summary_index[~school_summary_index.index.duplicated()]
school_summary.head()

ValueError: cannot reindex from a duplicate axis

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#Create a new column containing the 4 spending bins
# Use that crated column as your groupby

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208